{% extends "MedicalGeneralBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Symptom creation</h1>

    {{ form_start(form, {'attr':{'novalidate':true}}) }}
    {% for row in form %}
        {{ form_row(row) }}
    {% endfor %}
    {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('symptom') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
